{% extends "base.html" %}


{% block container %}

<div class="container">
  <hr>
  <!-- Page Content -->
  <div class="col-md-6">
    <h2>NOME Anime</h2>
    
    <hr>

    <img class="img-thumbnail" src="http://placehold.it/350x250" alt="Descrição da imagem ou nome da imagem">
    <p>
      SINOPSE Anime
    </p>

    <hr>

  </div>
  <div class="col-md-6">
    <h4>Informações do Anime</h4>
    <div id="left">
      <div class='tab-propriedade'><center>TIPO</center></div>
      <div class='tab-propriedade'><center>EPISODIOS</center></div>
      <div class='tab-propriedade'><center>STATUS</center></div>
      <div class='tab-propriedade'><center>ANO</center></div>
    </div>
    <div id="left">
      <div class='tab-info'><center>TV</center></div>
      <div class='tab-info'><center>13</center></div>
      <div class='tab-info'><center>Currently Airing</center></div>
      <div class='tab-info'><center>2016</center></div>
    </div>
  </div>

</div>
<hr>
{% endblock %}
