{% extends "base.html" %}

{% block title %}
    Sobre | {{ block.super }}
{% endblock %}


{% block container %}

<div class="container">
  <hr>
  <div class="jumbotron">
    <h1>Sobre</h1>
    <p class="lead">Bem-vindo! Está é um página de banco de dados de animes e mangás.
      <br>Esse site é para aprimorar meus conhecimentos na Linguagem de Programação <span class="text-info">Python</span> e o Framework <span class="text-info">Django</span>, como também eu gosto muito de animes e mangás!</p>
      <p><strong class="text-warning">Atenção!</strong><br>Por enquanto só vai ter informações sobre <span class=text-info>Animes</span>, depois irei adicionar informações sobre <span class="text-info">Mangás</span>
        <p> E aqui esta alguns links de referências.</p>
      </div>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome do Site</th>
            <th>Idioma</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Anbient Animes</td>
            <td>Português</td>
            <td><a href="http://www.anbient.net" target="_blank">www.anbient.net</a></td>
          </tr>
          <tr>
            <td>AnimaKai - PortalKai</td>
            <td>Português</td>
            <td><a href="http://www.animakai.tv/" target="_blank">www.animakai.tv</a></td>
          </tr>
          <tr>
            <td>MyAnimeList</td>
            <td>Inglês</td>
            <td><a href="http://www.myanimelist.net" target="_blank">www.myanimelist.net</a></td>
          </tr>
          <tr>
            <td>AniList</td>
            <td>Inglês</td>
            <td><a href="https://anilist.co/" target="_blank">www.anilist.co</a></td>
          </tr>
          <tr>
            <td>Você Sabia Anime (VSA)</td>
            <td>Português</td>
            <td><a href="http://www.vocesabiaanime.com.br" target="_blank">www.vocesabiaanime.com.br</a></td>
          </tr>
        </tbody>
      </table>

      <hr>
    </div>

    {% endblock %}
